!!! 5
%html(lang="en-US")
  %body
    %p You are invited by #{@invitation.user.name} to join MyFlix!
    %p= @invitation.message
    %p= link_to "Accept this invitation", register_with_token_url(@invitation.invite_token)