!!! 5
%html(lang="en-US")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    %p= "Welcome to MyFlix #{@user.name}!"
    %p= "We have tons of movies to watch, stay tuned for new additions!"